name: Main workflow

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
  LOCAL_VERSION_NUMBER_FILE: build_version.txt
  REVISION_BUCKET_NAME: anthem-workflows

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2.3.4

    - name: Determine the project’s version
      id: version
      uses: visiosto/maintain-revision@v0.15.0
      with:
        bucket: ${{ env.REVISION_BUCKET_NAME }}
        type: txt
        file: util/version.txt

    - name: Replace the project’s version
      uses: visiosto/replace-value@v0.1.0
      with:
        file: util/version.txt
        replaced: ${{ steps.version.outputs.package-version }}
        value: ${{ steps.version.outputs.version }}

    - name: Build the licence
      run: ./util/build

    - name: Upload build artefacts
      uses: actions/upload-artifact@v2.2.4
      with:
        name: effective-elegy-${{ steps.version.outputs.version }}
        path: dist/effective-elegy-*
